<div class="chart-container" style=" height: 800px;; width:700px">
  <div class="row jumbotron" style="height:10px; width: 500px; margin-top:20px;margin-bottom:40px;margin-left:100px;">

    <h1 style=" margin-right:10px;font-weight:bolder;font-family: 'Times New Roman', Times, serif;" >Skill Wise MS Hiring </h1>
  </div>
    <canvas id="canvas">{{skillchart}}</canvas>
    <div style="margin:20px">
      <button style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;" class="btn btn-primary" routerLink="/trends">Go Back</button>
    </div>
</div>
