
<div>
  <div class="row jumbotron" style="padding: 10px;margin-top: 10px;">
    <div class="col-sm-12">

        <button class="btn btn-outline-success col-sm-2" style="margin-left: 10px;" routerLink="/trends/location"> LocationWise   </button>


        <button class="btn btn-outline-success col-sm-2" style="margin-left: 10px;" routerLink="/trends/yearwise"> YearWise   </button>

        <button class="btn btn-outline-success col-sm-2" style="margin-left: 10px;" routerLink="/trends/skillwise">  SkillWise     </button>


      <span  style=" font-family: 'Times New Roman', Times, serif;margin-left:100px;text-align:right;font-weight:bolder;font-size: 30px;">
        OPPORTUNITY ANALYSIS
      </span>
  </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Location Wise Hiring </h2>
        <p>Morgan Stanley is a true global citizen, with offices and employees around the world. As technology links us closer together and regulatory barriers are broken down, the firm is in a unique position to address the increasingly global needs of our clients.</p>
        <p><a class="btn btn-secondary"  routerLink="/trends/location" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Year wise Hiring</h2>
        <p>A career at Morgan Stanley means belonging to an ideas-driven culture that embraces new perspectives to solve complex problems. See how you can make meaningful contributions as a student or recent graduate at Morgan Stanley. </p>
        <p><a class="btn btn-secondary" routerLink="/trends/yearwise" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Skills in Market</h2>
        <p>Problem-solving skills, Programming languages (different types of developer role require different languages)</p>
        <p><a class="btn btn-secondary"  routerLink="/trends/skillwise" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div>



