<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 style="font-weight:bolder; font-size:40px;font-family: 'Times New Roman', Times, serif;"class="display-3">Welcome To OpportunitY Management</h1>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Trends</h2>
        <p>Programming language trends continue to grow and evolve. Providing insight into a general trend is easy, but choosing only one language to focus on in 2020 is difficult. This choice very much depends on the individual. </p>
        <p><a class="btn btn-secondary" routerLink="/trends" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Accolite Digital</h2>
        <p>only the best cutting edge technology, we strive to help our clients overcome their digital challenges and achieve their goals </p>
        <p><a class="btn btn-secondary" routerLink="/trends/skillwise" role="button">View details &raquo;</a></p>
      </div>
      <div class="col-md-4">
        <h2 style="font-weight:bolder; font-size: large;font-family: 'Times New Roman', Times, serif;">Thing You Do</h2>
        <p>Here You can Add OpportunitY for candidate Edit OpportunitY details, analyse Trends on the basis of location, skill and Yearwaise Hiring. </p>
        <p><a class="btn btn-secondary" routerLink="/opportunity" role="button">View details &raquo;</a></p>
      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>
